$purple: #7b4fcd;
$light-purple: #9479e7;
$yellow: #f7e78b;
$light-yellow: #ebdf9b;
$red: #e23232;
$black: #181818;
$grey: #2c2c2c;
$light-grey: #a4a4a4;
$white: #ffffff;
$green: #6ae16a;

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: $white;
    --foreground: $grey;
    --primary: $light-purple;
  }
  
  .dark {
    --background: $grey;
    --foreground: $white;
    --primary: $yellow;
  }


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ruthie&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  

html {
    transition: background-color 0.3s ease, color 0.3s ease;
}


.dark{
    background-color: $grey;
    color: $white;
}

h2{
  font-family: 'Caveat' serif;
}