@import 'globals';


@mixin form-button{
    background-color: $purple;
    color: $white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 9rem;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $light-purple;
    }
}

@mixin form-input{
    padding: 10px;
    border: 1px solid $light-grey;
    border-radius: 5px;
    font-size: 16px;
    width: 17rem;
    transition: all 0.3s ease;
    background-color: transparent;
    &::placeholder {
        color: $light-grey;
    }
    &:focus {
        border: 1px solid $light-purple;
        transform: scale(1.05);
    }
}


@mixin header {
    border-bottom: .1rem solid $light-purple;
    box-shadow: 1px 1px 1rem -.3rem $purple;
    background-color: $black;
}

.header{
    @include header
}

@mixin sidebar {
    border-right: .2rem solid $light-purple;
    box-shadow: .5rem 0 1rem -1rem $purple;
    position: absolute;
    left: 0;
}

.sidebar{
    @include sidebar
}

@mixin selector {
    transition: all .15s ease-in-out;
    width: auto;
    border: 1px solid $light-grey;
    height: 2rem;
    margin: auto;
}

.selector {
    @include selector()
}

.selector:hover{
    border: 1px solid $light-purple;
}

@mixin header-button{
    color: $light-grey;
    transition: all .2s ease-in;
}

.header-button {
    @include header-button()
}

.header-button:hover {
    color: $light-purple;
}

@mixin sidebar-buttons{
    font-size: 1rem;
    li{
        margin-bottom: 1rem;
        transition: all .2s ease-in-out;
        &:hover{
            transform: translate(.2rem);
        }
    }
}

.sidebar-buttons{
    @include sidebar-buttons;
}

@mixin file-button{
    background-color: transparent;
    border: 1px solid $light-grey;
    color: $light-grey;
    width: 10rem;
    transition: all .2s ease-in-out;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    &:hover{
        background-color: transparent;
        border: 1px solid $light-purple;
        transform: scale(1.05);
        color: $light-purple;
    }
}

.file-button{
    @include file-button
}