@import '../styles/globals';
@import '../styles/mixins';

input{
  @include form-input;
}

textarea{
  @include form-input
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  width: 100%;
  padding: 20px;
}
h1{
  font-size: 50px;
  font-weight: 100;
  font-family: 'Bubbler One', sans-serif;
}

.error{
  color: $red;
  font-size: 12px;
}
label{
  font-size: 17px;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
}